.manga-list{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 40px;
    padding-top: 20px;
}

.card{
    height: 350px;
    width: 220px;
    background-color: transparent;
}

.card-items{
    overflow-x: hidden;
    height: calc(100% - 70px);
    margin-bottom: 5px;
}

.card-items img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: 10px;
    transition: all 0.2s ease-in-out 0s;
}

.card-items img:hover{
    object-fit: cover;
    width: 103%;
}

.chaper a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 80px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -60px;
    margin-left: 5px;
    position: absolute;
    text-decoration: none;
    color: #ccc;
    font-family: poppins,sans-serif;
    font-size: 12px;
    font-weight: 900;
}

.chaper a:hover, .card-name a:hover{
    color: rgb(255, 255, 255);
}

.card-name{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card-name a{
    text-align: center;
    text-decoration: none;
    color: #ccc;
    font-family: poppins,sans-serif;
    font-size: 15px;
    font-weight: 900;
}

@media only screen and (max-width: 1280px){
    .card{
        height: 310px;
        width: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .card-items{
        height: 240px;
    }
}

@media only screen and (max-width: 912px) {
    .manga-list{
        grid-template-columns: 30% 30% 30%;
        gap: 20px;
    }
}

@media only screen and (max-width: 840px) {
    .card{
        height: 290px;
        width: 180px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .chaper a{
        margin-top: -50px;
        width: 70px;
        height: 30px;
        font-size: 10px;
    }

    .card-name a{
        font-size: 13px;
        font-weight: 900;
    }
}

@media only screen and (max-width: 768px) {
    .card{
        height: 290px;
        width: 180px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .chaper a{
        margin-top: -50px;
        width: 70px;
        height: 30px;
        font-size: 10px;
    }

    .card-name a{
        font-size: 13px;
        font-weight: 900;
    }
}

@media only screen and (max-width: 570px) {
    .manga-list{
        grid-template-columns: 40% 40%;
        gap: 0;
    }

    .card{
        height: 230px;
        width: 140px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .card-items{
        height: 170px;
    }
    
    .card-name a{
        font-size: 12px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 414px) {
    .manga-list{
        padding-top: 0px;
    }
}

@media only screen and (max-width: 390px) {
    .manga-list{
        margin-left: 20px;
    }
    .card{
        height: 220px;
        width: 130px;
    }

    .chaper a{
        margin-top: -40px;
        width: 60px;
        height: 30px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .card{
        height: 200px;
        width: 110px;
    }

    .card-items{
        height: 150px;
    }
}