<div class="manga-list">

    <div class="card">
        <div class="card-items">
            <div class="image">
                <a href="">
                    <img src="https://otakuteca.com/images/books/cover/61e70121579fe.jpg" alt="">
                </a>            
            </div>
            <div class="chaper">
                <a href="">CH. 74</a>
            </div>
        </div>
        <div class="card-name">
            <a href="">El Retorno Del Mago De 8va Clase</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-items">
            <div class="image">
                <a href="">
                    <img src="https://api.yugenmangas.com/cover/5b2e6018e248b.jpg" alt="">
                </a>            
            </div>
            <div class="chaper">
                <a href="">CH. 369</a>
            </div>
        </div>
        <div class="card-name">
            <a href="">¿Héroe? Lo deje hace mucho tiempo</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-items">
            <div class="image">
                <a href="">
                    <img src="https://api.yugenmangas.com/cover/db811a26-649f-4699-a0f5-fb2b7da2b9fe.webp" alt="">
                </a>            
            </div>
            <div class="chaper">
                <a href="">CH. 104</a>
            </div>
        </div>
        
        <div class="card-name">
            <a href="">Noche Sin Sombras</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-items">
            <div class="image">
                <a href="">
                    <img src="https://api.yugenmangas.com/cover/498989e8-0f5f-42ed-a6c0-1c233d0ebc49.webp" alt="">
                </a>            
            </div>
            <div class="chaper">
                <a href="">CH. 49</a>
            </div>
        </div>
        <div class="card-name">
            <a href="">El Hijo Menor del Maestro de la Espada</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-items">
            <div class="image">
                <a href="">
                    <img src="https://api.yugenmangas.com/cover/kitaresourceimg-350x476.webp" alt="">
                </a>            
            </div>
            <div class="chaper">
                <a href="">CH. 174</a>
            </div>
        </div>
        <div class="card-name">
            <a href="">Existencia</a>
        </div>
    </div>
</div>