<div class="trending_container">

    <div class="trending-title">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="fire" class="svg-inline--fa fa-fire fa-w-12 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M216 23.86c0-23.8-30.65-32.77-44.15-13.04C48 191.85 224 200 224 288c0 35.63-29.11 64.46-64.85 63.99-35.17-.45-63.15-29.77-63.15-64.94v-85.51c0-21.7-26.47-32.23-41.43-16.5C27.8 213.16 0 261.33 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-193-168-296.14z"></path></svg>
            <h1>Tendencias</h1>
    </div>

    <div class="trending-list">
        <ul class="item">
            <a href="" class="item-li">
                <li>
                    <div class="item-number">
                        1
                    </div>
                    <div class="item-info">
                        <div class="item-img">
                            <img src="https://api.yugenmangas.com/f09f9a00-b88d-4dc6-8d7b-48f26c672ae1.webp" alt="">
                        </div>
                        <div class="item-name">
                            Me Reencarné Como Una Diosa Bebé
                        </div>
                    </div>
                </li>
            </a>
            <hr>
            <a href="" class="item-li">
                <li>
                    <div class="item-number">
                        2
                    </div>
                    <div class="item-info">
                        <div class="item-img">
                            <img src="https://api.yugenmangas.com/c9860eb7-6d11-4043-83f2-0078b16100b6.webp" alt="">
                        </div>
                        <div class="item-name">
                            Nuestro Tirano Se Convirtió En Bebé
                        </div>
                    </div>
                </li>
            </a>
            <hr>
            <a href="" class="item-li">
                <li>
                    <div class="item-number">
                        3
                    </div>
                    <div class="item-info">
                        <div class="item-img">
                            <img src="https://api.yugenmangas.com/0e0b9eea-6d7c-48e7-8d5b-a3a4b4e61b21.webp" alt="">
                        </div>
                        <div class="item-name">
                            Cazador Suicida de Clase SSS
                        </div>
                    </div>
                </li>
            </a>
            <hr>
            <a href="" class="item-li">
                <li>
                    <div class="item-number">
                        4
                    </div>
                    <div class="item-info">
                        <div class="item-img">
                            <img src="https://api.yugenmangas.com/7b5394d0-d6b0-420d-869f-eb395a66ba8c.png" alt="">
                        </div>
                        <div class="item-name">
                            Rey De Los Saqueadores De Tumbas
                        </div>
                    </div>
                </li>
            </a>
            <hr>
        </ul>
    </div>
</div>