<!--<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" id="indactor-1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner" data-bs-touch="true">

    <div class="carousel-item active" data-bs-interval="8000" id="item-1">
      <img src="assets/omniscient_banner_Titulo-removebg-transparent.png" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-bs-interval="8000" id="item-2">
      <img src="assets/HMMD-YUGEN-1.png" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-bs-interval="8000" id="item-3">
      <img src="assets/Roxana-MangoScan_3-removebg-trans.png" class="d-block w-100" alt="...">
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
-->

<ngx-slick-carousel class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)" 
(breakpoint)="breakpoint($event)" 
(afterChange)="afterChange($event)" 
(beforeChange)="beforeChange($event)">

  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <div class="slide-items">
      <img src="{{ slide.img }}" alt="">
    </div>
  </div>
  
</ngx-slick-carousel>